<page-header title="label.cart"></page-header>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let item of cart">
			<ion-label>{{ item.title | translate }}</ion-label>

			<div style="display: flex; align-items: center">
				<ion-label style="margin-right: 1rem"> {{ item.price }} €</ion-label>
				<ion-button (click)="changeQuantity(item, -1)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
				<ion-button>{{ item.quantity }}</ion-button>
				<ion-button (click)="changeQuantity(item, 1)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
			</div>
		</ion-item>
	</ion-list>
	<div *ngIf="cartSum > 0" style="display: flex; justify-content: end; margin-right: 1rem">
		<ion-card>
			<ion-card-header>
				<ion-card-title>{{ 'label.sum' | translate }}</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				<ion-label>{{ cartSum }} €</ion-label>
			</ion-card-content>
		</ion-card>
	</div>
	<div *ngIf="cartSum === 0" style="text-align: center">{{ 'label.cartEmpty' | translate }}</div>
</ion-content>
