<ion-app>
	<ion-router-outlet></ion-router-outlet>

	<ion-tabs>
		<ion-tab-bar slot="bottom">
			<ng-container [ngSwitch]="isAuthenticated">
				<ng-container *ngSwitchCase="true">
					<ion-tab-button tab="tables">
						<ion-icon name="tablet-landscape-outline"></ion-icon>
						<ion-label>{{ 'label.tables' | translate }}</ion-label>
					</ion-tab-button>
					<ion-tab-button tab="menu">
						<ion-icon name="menu-outline"></ion-icon>
						<ion-label>{{ 'label.menu' | translate }}</ion-label>
					</ion-tab-button>
					<ion-tab-button tab="cart">
						<ion-icon name="cart-outline"></ion-icon>
						<ion-label>{{ 'label.cart' | translate }}</ion-label>
					</ion-tab-button>
					<ion-tab-button tab="settings">
						<ion-icon name="settings-outline"></ion-icon>
						<ion-label>{{ 'label.settings' | translate }}</ion-label>
					</ion-tab-button>
					<ion-tab-button tab="profile">
						<ion-icon name="person-circle-outline"></ion-icon>
						<ion-label>{{ 'label.profile' | translate }}</ion-label>
					</ion-tab-button>
				</ng-container>

				<ng-container *ngSwitchCase="false">
					<ion-tab-button tab="sign-in">
						<ion-icon name="log-in-outline"></ion-icon>
						<ion-label>{{ 'label.signIn' | translate }}</ion-label>
					</ion-tab-button>
					<ion-tab-button tab="sign-up">
						<ion-icon name="person-add-outline"></ion-icon>
						<ion-label>{{ 'label.signUp' | translate }}</ion-label>
					</ion-tab-button>
				</ng-container>
			</ng-container>
		</ion-tab-bar>
	</ion-tabs>
</ion-app>
